{
    "third_party_community": {
        "name": "third_party_community",
        "type": "zootools",
        "version": "1.1.1"
    },
    "zoo_animation_tools": {
        "name": "zoo_animation_tools",
        "type": "zootools",
        "version": "1.1.12"
    },
    "zoo_artist_palette": {
        "name": "zoo_artist_palette",
        "type": "zootools",
        "version": "1.2.8"
    },
    "zoo_camera_tools": {
        "name": "zoo_camera_tools",
        "type": "zootools",
        "version": "1.3.7"
    },
    "zoo_controls_joints": {
        "name": "zoo_controls_joints",
        "type": "zootools",
        "version": "1.8.8"
    },
    "zoo_core": {
        "name": "zoo_core",
        "type": "zootools",
        "version": "2.3.18"
    },
    "zoo_dynamics_tools": {
        "name": "zoo_dynamics_tools",
        "type": "zootools",
        "version": "1.0.9"
    },
    "zoo_hotkey_editor": {
        "name": "zoo_hotkey_editor",
        "type": "zootools",
        "version": "1.0.18"
    },
    "zoo_image_browser": {
        "name": "zoo_image_browser",
        "type": "zootools",
        "version": "1.0.13"
    },
    "zoo_light_suite": {
        "name": "zoo_light_suite",
        "type": "zootools",
        "version": "1.3.5"
    },
    "zoo_maya": {
        "name": "zoo_maya",
        "type": "zootools",
        "version": "1.6.11"
    },
    "zoo_model_assets": {
        "name": "zoo_model_assets",
        "type": "zootools",
        "version": "1.1.2"
    },
    "zoo_modeling_tools": {
        "name": "zoo_modeling_tools",
        "type": "zootools",
        "version": "1.6.10"
    },
    "zoo_preferences": {
        "name": "zoo_preferences",
        "type": "zootools",
        "version": "1.0.25"
    },
    "zoo_pyside": {
        "name": "zoo_pyside",
        "type": "zootools",
        "version": "2.0.7"
    },
    "zoo_renderer_tools": {
        "name": "zoo_renderer_tools",
        "type": "zootools",
        "version": "1.0.8"
    },
    "zoo_shader_tools": {
        "name": "zoo_shader_tools",
        "type": "zootools",
        "version": "1.2.4"
    },
    "zoo_toolsets": {
        "name": "zoo_toolsets",
        "type": "zootools",
        "version": "1.3.9"
    },
    "zoo_utility_tools": {
        "name": "zoo_utility_tools",
        "type": "zootools",
        "version": "1.1.2"
    },
    "zoo_uv_tools": {
        "name": "zoo_uv_tools",
        "type": "zootools",
        "version": "1.1.15"
    }
}